<div class="container mb-4">

    <div class="row-title">
      <h2>FAQ</h2>
      <p>Frequently Asked Questions</p>
  </div>
  
    <ngb-accordion [closeOthers]="true" activeIds="static-1">
      <ngb-panel id="static-1" title="How to sign my company on the Website?">
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid single-origin coffee nutella assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Leggings
          occaecat craft beer farm-to-table, nesciunt you probably haven't heard of them accusamus
          labore sustainable SUS.
          <br>
          im pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes single-origin coffee nulla assumenda shoreditch et.single-origin coffee nulla assumenda anderson crot me shap got mi thonk ault.
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid single-origin coffee nutella assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          im pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch. richardson ad squid. 9 wolf moon officia
          aute, nuns cup data skate the board daunch.
        </ng-template>
      </ngb-panel>
  
      <ngb-panel id="static-2" title="Is there in Qimar or Faua'd happening?">
        <ng-template ngbPanelContent>
          <strong>NO</strong>, Because Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt, you probably haven't heard of them assuming you're an infidel
          The Religion of Islam prohibits this acts.
        </ng-template>
      </ngb-panel>
  
      <ngb-panel id="static-3" title="Can i start a construction then 9/11 it?">
        <ng-template ngbPanelContent>
          <strong>YES</strong>, In Westren Countries but most of the Time <strong>NO</strong>, Because of the relations with cats in italy,
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid single-origin coffee, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          The Answer is Still No.
        </ng-template>
      </ngb-panel>
  
      <ngb-panel id="static-4" title="How to make My Own Website?">
        <ng-template ngbPanelContent>
          <strong>WHY?</strong> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          need alot of <i class="fab fa-stack-overflow text-warning"></i>.
        </ng-template>
      </ngb-panel>
  
      <ngb-panel id="static-5" title="If like to steal your websites design or your data Base,
       and im using VPN. how would you be able to track me?">
        <ng-template ngbPanelContent>
          <strong>Yes but sometimes No</strong>
        </ng-template>
      </ngb-panel>
      
      <ngb-panel id="static-6" title="How are your name. mine is too?">
       <ng-template ngbPanelContent>
         <strong>Me Neither</strong>
       </ng-template>
     </ngb-panel>
  
      <ngb-panel id="static-7" title="Disabled" [disabled]="true">
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          labore sustainable VHS.
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  