<div class="container">


    <h1 class="page-title white-text">Tools</h1>
    <hr>

    <button mat-raised-button class="btn-theme mb-3" [routerLink]="['/tools/add']">Create New</button>


    <table class="table text-secondary">
           <thead>
               <tr>
                   <th>Name</th>
                   <th>Actions</th>
               </tr>
           </thead>
           <tbody>
               <tr *ngFor="let tool of tools">
                   <td>{{tool.name}}</td>

                   <td>
                    <a matTooltip="Tool Details" [routerLink]="['/tools/', tool.id]">
                        <mat-icon class="info">info</mat-icon>
                    </a>
                    <a matTooltip="Edit Tool" [routerLink]="['/tools/edit', tool.id]">
                        <mat-icon class="edit">edit</mat-icon>
                       </a>
                       <a matTooltip="Delete Tool" (click)="deleteTool(tool.id)">
                        <mat-icon class="delete">delete</mat-icon>
                       </a>
                   </td>
               </tr>
           </tbody>
       </table>

       <mat-spinner class="mx-auto mt-4 mb-3" *ngIf="showSpinner"></mat-spinner>

   </div>
   