<div class="container my-4">
    <form [formGroup]="toolForm" (ngSubmit)="submitForm()">

      <h1 *ngIf="pageMode == pageModeEnum.Add">Add a Tool</h1>
      <h1 *ngIf="pageMode == pageModeEnum.Edit">Edit the Tool</h1>
          <hr>
          
          <div class="row">
                <div class="col md 6">

                      <div>
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Name" formControlName="name"/>
                                   <mat-error>
                                         Please provide name.
                                   </mat-error>
                            </mat-form-field>
                      </div>
        
                </div>

                <div class="col md 6">

                    <div>
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>worker</mat-label>
                            <mat-select formControlName="workerId">
                                <mat-option *ngFor="let worker of workersList" [value]="worker.id">
                                    {{ worker.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
          </div>

            <div>
                   <button class="mr-2 btn-theme" type="submit" mat-raised-button>
                    <span *ngIf="pageMode == pageModeEnum.Add">Add</span>
                    <span *ngIf="pageMode == pageModeEnum.Edit">Save</span>
                </button>
                <button mat-raised-button [routerLink]="['/tools']">Cancel</button>
            </div>

            </form>
</div>

