<div class="page-full d-flex">
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 bg-dark text-secondary d-flex">
               <h1>Sim Taxi Premium Experience</h1>
               <h2>We make the taxi ride a premium experience with class</h2>
             </div>
        <div class="col md 6 d-flex">
           <img src="../../assets/img/towes.png" alt="CMP">
             </div>
         </div>
    </div>
</div>
<div class="container">
    <!-- <video class="" autoplay loop>
        <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
      </video> -->
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="d-block w-100" src="../../assets/img/Talibani.png" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="d-block w-100" src="../../assets/img/CHEHCHEN.png" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="d-block w-100" src="../../assets/img/Talibani.png" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
      </ngb-carousel>
</div>

<div class="container border bg-dark">
        <div class="row">
            <div class="col-md-3">
                <h1>Sim Taxi Premium Experience</h1>
                <h2>We make the taxi ride a premium experience with class</h2>
            </div>
            
            <div class="col-md-6">
                <h1>Sim Taxi Premium Experience</h1>
                <h2>We make the taxi ride a premium experience with class</h2>
            </div>

            <div class="col-md-3">
                <h1>Sim Taxi Premium Experience</h1>
                <h2>We make the taxi ride a premium experience with class</h2>
            </div>
        </div>
</div>
    