
<div class="container mb-4">
  <div class="row">
    <div class="col-md-7">
      <video class="video-fluid z-depth-1 d-block w-100" autoplay controls muted>
        <source src="../../assets/video/cpm_intro_vid.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="col-md-4 left-txt">
      <h2>Construction Project Management</h2>
      <h4>Lorem ipsum dolor sit ame, consectetur adipiscing elit. Nunc egestas eget est vel sodales. Praesent gravida eu velit sit amet aliquet. Nulla tincidunt nulla vel venenatis volutpat.
        Aenean a porta velit. Quisque sollicitudin pellentesque ligula eu porttitor. Pellentesque feugiat felis sollicitudin faucibus malesuada. Praesent faucibus condimentum ligula, nec sagittis dolor semper vitae. Aliquam vel porta augue.
      </h4>
      <button href="#" class="btn btn-theme">See More...</button>
    </div>
  </div>
</div>


<div id="bg-color-setting" class="mb-4">
<div class="container mb-4">
      <div class="row-title text-light">
        <h2>Our Partners</h2>
        <p>Most Trustworthy In selling Building material</p>
      </div>
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="d-block w-100" src="../../assets/img/Paint-carousel-1.png" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <div class="txts">
              <h3>A Gentleman is trying to sell products. A Gentleman is trying to sell products.</h3>
              <button href="#" class="btn btn-theme">See More...</button>
          </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="d-block w-100" src="../../assets/img/Sameer-for-mawaseer_800-400(1).png" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <div class="txts">
            <p>Second Try, Hater Will Hate</p>
            <button href="#" class="btn btn-theme">See More...</button>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="d-block w-100" src="../../assets/img/jodcom.png" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <div class="txts">
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              <button href="#" class="btn btn-theme">See More...</button>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="d-block w-100" src="../../assets/img/afghani_comp.png" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <div class="txts">
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              <button href="#" class="btn btn-theme">See More...</button>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
</div>

</div>



<div class="container border-bottom pb-3 mb-4">
  <div class="row-title">
    <h2>Our Projects</h2>
    <p>We Send the Best all Around the World !</p>
    <hr>
  </div>
        <div id="black-text" class="row">
            <div class="col-md-3">
              <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="../../assets/img/masjid.jpg" alt="Card image cap">
                <div class="card-body black-text">
                  <h5 class="card-title">Masjid Nasir Al-Mulk</h5>
                  <p class="card-text">Suspendisse et dolor non dui scelerisque mattis. Etiam ligula libero, pharetra non facilisis a, condimentum sed erat. Duis non nisi scelerisque, scelerisque elit et, malesuada mi</p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link">Learn more</a>
                  <a href="#" class="card-link disabled">Visit Site</a>
                </div>
              </div>
            </div>
            
            <div class="col-md-3">
              <div class="col-md-3">
                <div class="card" style="width: 16rem;">
                  <img class="card-img-top" src="../../assets/img/twin-tower-2.png" alt="Card image cap">
                  <div class="card-body black-text">
                    <h5 class="card-title">Twin Tower 2</h5>
                    <p class="card-text">Suspendisse et dolor non king dui scelerisque Second. Etiam Ausra ligula libero, pharetra non facilisis condimentum sed erat. Duis gamal abd al-naser non nisi, scelerisque elit too.</p>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link">Learn more</a>
                    <a href="#" class="card-link">Visit Site</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="col-md-3">
                <div class="card" style="width: 16rem;">
                  <img class="card-img-top" src="../../assets/img/majid2.png" alt="Card image cap">
                  <div class="card-body black-text">
                    <h5 class="card-title">Jamih Bukhara</h5>
                    <p class="card-text">Suspendisse et dolor non dui scelerisque mattis. Etiam ligula libero, pharetra non facilisis a, condimentum sed erat. Duis non nisi scelerisque, scelerisque elit et, malesuada mi</p>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link">Learn more</a>
                    <a href="#" class="card-link">Visit Site</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="col-md-3">
                <div class="card" style="width: 16rem;">
                  <img class="card-img-top" src="../../assets/img/zaha-hadid-dead-22.png" alt="Card image cap">
                  <div class="card-body black-text">
                    <h5 class="card-title">The Zaha-Hadid-Dead</h5>
                    <p class="card-text">Suspendisse et dolor non dui scelerisque mattis. Etiam ligula libero, pharetra non facilisis a, condimentum sed erat. Duis non nisi scelerisque, scelerisque elit et, malesuada mi</p>
                  </div>
                  <div class="card-body">
                    <a href="#" class="card-link">Learn more</a>
                    <a href="#" class="card-link">Visit Site</a>
                  </div>
                </div>
              </div>
            </div>

        </div>
</div>

<div id="bg-color-setting">
  <div class="container">
      <div class="row  row4">
        <div class="col-md-4 pic">
          <div>
            <img class="py-3" width="60%" src="../../assets/img/anti-family.png">
          </div>
        </div>
        <div class="py-4 col-md-4">
          <h3>
            This Website is Made with the Help of Mibax Company and collaboration with (Mukafahat Al-Ausra).
          </h3>
          <h4>
            Without their help i don't know what would've happened to us.
          </h4>
          <h5>
            Albert Newton - Windows
          </h5>
        </div>
        <div class=" col-md-4 img-row4">
          <div>
            <img class="py-4" width="55%" src="../../assets/img/mibax-256 .png">
          </div>
        </div>

      </div>
  </div>
</div>
<div class="container mb-4">

  <div class="row-title">
    <h2>FAQ</h2>
    <p>Frequently Asked Questions</p>
  </div>

  <ngb-accordion [closeOthers]="true" activeIds="static-1">
    <ngb-panel id="static-1" title="How to sign my company on the Website?">
      <ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nutella assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Leggings
        occaecat craft beer farm-to-table, nesciunt you probably haven't heard of them accusamus
        labore sustainable SUS.
        <br>
        im pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes single-origin coffee nulla assumenda shoreditch et.single-origin coffee nulla assumenda anderson crot me shap got mi thonk ault.
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nutella assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        im pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. richardson ad squid. 9 wolf moon officia
        aute, nuns cup data skate the board daunch.
      </ng-template>
    </ngb-panel>

    <ngb-panel id="static-2" title="Is there in Qimar or Faua'd happening?">
      <ng-template ngbPanelContent>
        <strong>NO</strong>, Because Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt, you probably haven't heard of them assuming you're an infidel
        The Religion of Islam prohibits this acts.
      </ng-template>
    </ngb-panel>

    <ngb-panel id="static-3" title="Where can i join Mybax with y?" [disabled]="true">
      <ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      </ng-template>
    </ngb-panel>

  </ngb-accordion>

  <div class="tzt">
    <p><i class="fas fa-arrow-alt-circle-down downy"></i> If you wanna see more Questions click 'FAQ' link below under 'HELP' Options. <i class="fas fa-arrow-alt-circle-down downy"></i></p>
  </div>
</div>



